# The class directory
*.class
# Package Files
*.war
*.ear
*.properties
*.MF
*.classpath
/welearn/target
/welearn/.settings
/welearn/src/test
welearn/src/main/java/com/welearn/service/impl/WechatMsgServiceImpl.java
